body {
    font-family: basic-sans, sans-serif;
    background-color: #333745;
    color: #F3DE8A;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282C34;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 1100px;
    background-color: #383c44; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.container.MuiPaper-root { 
    box-shadow: none; /* Removes the shadow/border */
    background-color: #383c44; /* Ensures the background color is consistent */
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #97A7B3;
    background-color: #333745;
    color: #F3DE8A;
    border-radius: 4px;
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    box-sizing: border-box; /* Added this to account for padding in input width */
}

.input-group {
    margin-bottom: 10px;
}

.inputPrice {
    position: relative;
    padding-left: 25px;
}

.inputPrice::before {
    content: '$';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #F3DE8A;
    pointer-events: none;
    z-index: 2;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #F7F7FF;
}

button {
    background-color: #EB9486;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px 5px 0 0; /* Added this for spacing between buttons */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #CAE7B9;
}
.tab-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab-button {
    flex: 1;
    margin: 5px;
    text-align: center;
    max-width: 140px;
}

.tab-button.active {
    background-color: #EB9486;
}

.tab-container {
    width: 80%;
    max-width: 1100px;
    background-color: #383c44; /* Slightly lighter shade for the button section */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #F3DE8A;
}

::placeholder {
    color: #33745;
    opacity: 1;
}

select {
    appearance: none;
    background-color: #333745;
}

.table-container {
    width: 80%;
    max-width: 1100px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #383c44; /* Matches the styling of .container */
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; /* Centers the table and adds vertical spacing */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Ensures table fills the container and inherits the color for consistency */
.table-container .ProductsTable {
    width: 100%;
    color: #F3DE8A; /* Inherits the color from body for consistency */
}

/* Additional responsive styling, if needed */
@media screen and (max-width: 600px) {
    .table-container, .ProductsTable, .ProductsTable tbody, .ProductsTable tr, .ProductsTable td {
        width: 100%; /* Ensures table responsiveness */
    }
}

/* Additional styles for Table */
.ProductsTable {
  border-collapse: collapse;
  width: 100%;
}

.ProductsTable th {
  background-color: #484e58; /* Slightly darker than container for contrast */
  color: #F3DE8A;
  font-weight: bold;
  padding: 12px 15px;
}

.ProductsTable td {
  padding: 10px 15px;
  color: #F3DE8A;
}

.ProductsTable tbody tr:nth-of-type(odd) {
  background-color: #333745;
}

.ProductsTable tbody tr:nth-of-type(even) {
  background-color: #2e313a;
}

.ProductsTable tbody tr:hover {
  background-color: #424752; /* Slightly lighter to indicate hover */
}

.ProductsTable td, .ProductsTable th {
  border: 1px solid #4f5564; /* Subtle borders for definition */
  text-align: left;
}

.custom-paper {
  background-color: #383c44; /* Your preferred background color */
  box-shadow: none; /* Remove box-shadow/border */
  /* Add other styles if necessary */
}

@media screen and (max-width: 600px) {
  .ProductsTable thead {
    display: none; /* Hide headers on small screens */
  }

  .ProductsTable, .ProductsTable tbody, .ProductsTable tr, .ProductsTable td {
    display: block;
    width: 100%;
  }

  .ProductsTable tr {
    margin-bottom: 15px;
  }

  .ProductsTable td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .ProductsTable td::before {
    /* Add content from headers */
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 50%;
    padding-right: 15px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}

/* Style the scrollbar track (background) */
.table-container::-webkit-scrollbar-track {
  background-color: #2e313a; /* A shade of dark color for the track */
  border-radius: 10px;
}

/* Style the scrollbar handle */
.table-container::-webkit-scrollbar-thumb {
  background-color: #484e58; /* A shade of dark color for the thumb */
  border-radius: 10px;
  border: 3px solid #2e313a; /* Matching the track color for seamless design */
}

/* Style the scrollbar itself (width, color) */
.table-container::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
  background-color: #333745; /* A darker shade for scrollbar background */
}

/* For Firefox */
.table-container {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #484e58 #2e313a; /* thumb and track color */
}

.productTableButton {
  background-color: #EB9486 !important; /* Add !important to enforce this style */
  color: #fff !important;
  border: none !important;
  padding: 10px 20px !important;
  margin-right: 10px !important; /* Add spacing between buttons */
  border-radius: 4px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

.productTableButton:last-child {
  margin-right: 0 !important; /* No margin on the last button */
}

.productTableButton:hover {
  background-color: #CAE7B9 !important; /* Enforce hover color */
}

.productCheckbox {
  color: #F3DE8A !important; /* Use the color from your app's palette */
}

/* Checked state */
.productCheckbox.Mui-checked {
  color: #F3DE8A !important;
}

